#{extends 'main.html'/}


<div class="container mt-3">
    <h2>&{'gestion.civil.list.titre'}</h2>
    <div class="row">
        <div class="col-12">
            <span class="btn btn-primary mb-3 float-right disabled " id="btnCivil">&{'gestion.civil.list.consulter'}</span>
            <span class="btn btn-danger mb-3 float-right disabled mr-2 " id="btnCivilSupp" >&{'gestion.civil.list.supprimer'}</span>
            <table id="table" class="display">
                <thead>
                <tr>
                    <th>&{'gestion.civil.list.id'}</th>
                    <th>&{'gestion.civil.list.nom'}</th>
                    <th>&{'gestion.civil.list.prenom'}</th>
                    <th>&{'gestion.civil.list.droits'}</th>
                </tr>
                </thead>
                <tbody>
                #{list items:models.Civil.findAll(), as: 'civil'}
                <tr>
                    <td>${civil.id}</td>
                    <td>${civil.nom}</td>
                    <td>${civil.prenom}</td>
                    <td>${civil.id_admin}</td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let table = $('#table').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
            }
        });
        let idSelected;
        let trSelected;
        $("#table tbody").on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $("#btnCivil").attr("class", "btn btn-primary float-right mb-3 disabled");
                $("#btnCivilSupp").attr("class", "btn btn-danger float-right mr-2 mb-3 disabled");
                $("#btnCivilSupp").attr("data-toggle","");
                $("#btnCivilSupp").attr("data-target","");

                idSelected = null;
                trSelected = null;

            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#btnCivil").attr("class", "btn btn-primary float-right mb-3");
                $("#btnCivilSupp").attr("class", "btn btn-danger float-right mb-3 mr-2");
                $("#btnCivilSupp").attr("data-toggle","modal");
                $("#btnCivilSupp").attr("data-target","#exampleModal");
                idSelected = $(this).children().first().text();
                trSelected = $(this);
            }
        });
        $("#btnCivil").click(function () {
            if (idSelected != null)
                document.location.href = "/administration/civil/show?id=" + idSelected;
        })

        $("#confirmDelete").click(function () {
            DeleteCivil(idSelected);
        })


        function DeleteCivil(idCivil) {
            if (idSelected != null) {
                $.post({
                    url: "/administration/civil/delete",
                    data: {id: idCivil}
                });
                trSelected.empty();
            }
        }
    });
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">&{'gestion.civil.list.modal.title'}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                &{'gestion.civil.list.modal.body'}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">&{'gestion.civil.list.modal.non'}</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="confirmDelete">&{'gestion.civil.list.modal.oui'}</button>
            </div>
        </div>
    </div>
</div>
