#{extends 'main_not_signed.html'/}

<div class="container">
	
	<h1>Les avengers</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				${messages.get(flash.error)}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				${messages.get(flash.success)}
			</p>
		#{/if}
	
		<div class="form-group">
			<label for="username">Votre identifiant</label>
			<input required class="form-control" type="text" name="username" id="username" value="${flash.username}" />
		</div>

		<div class="form-goup">
			<label for="password">Mot de passe</label>
			<input required class="form-control" type="password" name="password" id="password" value="" />
		</div>

			<div class="form-group">
				<input class="form-check-label" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
				<label for="remember">&{'secure.remember'}</label>
			</div>

			<input class="btn col-12 btn-primary" type="submit" id="signin" value="Se connecter" />

	#{/form}
</div>