#{extends 'main.html' /}
#{set title: "Déclaration d'incident" /}
<div class="container">

    <div class="row">
        <h1>&{'incident.title'}</h1>

        <div id="map"
             class=" col-12 p-0 map_list leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
             tabindex="0" style="position: relative; outline: none; height: 350px; border: 2px solid grey">
        </div>
    </div>

    <div class="row mt-3">
        <input class="form-control col-4" type="text" id="street" placeholder="Rue" name="incidents.street">
        <input class="form-control col-3" type="text" id="city" placeholder="Ville" name="incidents.city">
        <input class="form-control col-3" type="text" id="country" placeholder="Pays" name="incidents.country">
        <input class="form-control col-2" type="text" id="postal" placeholder="Code postal" name="incidents.postal">
        <span class="error">#{error 'incidents.adresse'/}</span>
    </div>

    <div class="row">
        <div class="col-12 p-0">

            <p id="place"></p>
            <button id="add_address" class="btn btn-outline-primary" onclick="searchPlace()">&{'incident.add.adresse'}</button>
            <form action="/incident/new" method="post">
                <div class="form-group">
                    <label for="incidentType">&{'incident.type'}</label>
                    <input class="form-control" type="text" name="incidents.type" id="incidentType" value="${flash['incidents.type']}"/>
                    <span class="error">#{error 'incidents.type'/}</span>
                </div>
                <div class="form-group ">
                    <label for="date">&{'incident.date'}</label>
                    <input class="form-control" id="date" type="date" name="incidents.date" value="${flash['incidents.date']}"/>
                    <span class="error">#{error 'incidents.date'/}</span>
                </div>
                <div class="form-group">
                    <label for="description">&{'incident.desc'}</label>
                    <textarea class="form-control" name="incidents.description" id="description" cols="30" rows="10" value="${flash['incidents.description']}"
                              ></textarea>
                    <span class="error">#{error 'incidents.description'/}</span>
                </div>

                <div id="coords">
                    <input name="adresse" type="hidden">
                </div>
                <input type="submit" class="float-right btn btn-outline-success mb-5">
            </form>

        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="@{'/public/javascripts/OSM.js'}"></script>


