#{extends 'main.html' /}
#{set title: "Gérer les incidents" /}

<div class="container">
    <h1>Gestion d'incidents</h1>
    <ul class="list-group list-group-flush">
    #{list items:incidents, as: 'incident'}
        <li class="list-group-item">
            <button class="accordion btn btn-light">${incident.type}</button>
            <div class="panel">
                <p>${incident.description}</p>
                <p>${incident.date}</p>
                <p>${incident.adresse}</p>
                <a href="/incident/manage/${incident.id}" class="btn btn-outline-success float-right">Gérer incident</a>
                <button href="/missions/new/${incident.id}" class="btn btn-outline-danger float-right">Refuser</button>
            </div>
        </li>
    #{/list}
    </ul>
</div>