#{extends 'main.html' /}
#{set title: "Suivi" /}

<div class="container">
    <h1>Suivi d'incidents</h1>
    <ul class="list-group list-group-flush">
    #{list items:incidents, as: 'incident'}
        <li class="list-group-item">
            <button class="accordion btn btn-outline-${(!incident.etat) ? "primary" : (incident.id_mission != 0) ? "success" : "danger"}">
                <i class="fas fa-${(!incident.etat) ? "hourglass" : (incident.id_mission != 0) ? "check" : "times"}"></i> - ${incident.type} - ${incident.date.format("dd/MM/YYYY h:mm")}
            </button>
            <div class="panel">
                <p>${incident.description}</p>
                <p>${incident.adresse}</p>
            </div>
        </li>
    #{/list}
    </ul>
</div>