.error{
    color: red;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    max-width: 30px;
}

#newSuper{
    color: #0A65AF;
}
#newSuper:hover{
    text-decoration: underline;
    cursor: pointer;
}