.error{
    color: red;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    max-width: 30px;
}

#newSuper{
    color: #0A65AF;
}
#newSuper:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3,h5{
        font-size: 3rem;
    }
    #content{
        overflow: hidden !important;
        margin-bottom: 50px !important ;
        margin-top: 50px !important;
    }
    label,input,span,a,button,table,textarea,strong{
        font-size: 2.8rem !important;
    }
    select{
        height: 80px !important;
        font-size: 2.5rem !important;
    }
    input[type=radio] {
        border: 0px;
        width: 50px;
        height: 2em;
    }
    li > * > *{
        font-size: 3.5rem !important;
    }
    li > *:not(strong) {
        font-size: 5rem !important;
    }
    nav a{
        font-size: 4rem !important;
    }
    .radio-multiple{
        display: flex;
        flex-direction: column;

    }
    .radio-multiple > div > label{
        margin-left: 50px !important;
        margin-top: 10px;
        line-height: 2 !important;
        width: 200px !important;
    }
    .modal-footer > button{
        display: flex !important;
        flex-direction: column !important;
    }
    .modal-dialog{
        max-width: 1000px !important;
        margin: 20px;

    }
    #map  *{
        font-size: 1.5rem !important;
    }
}