#{extends 'main.html'/}

<div class="container mt-3">
    <h1>Rédiger un rapport</h1>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">Titre de la mission : </li>
                <li class="list-group-item">Date : </li>
                <li class="list-group-item">Réussite : </li>
                <li class="list-group-item">Urgence : </li>
                <li class="list-group-item">Lieu : </li>
            </ul>
        </div>
        <div class="col-12 mt-3">
        #{form @controllers.Rapport.Save()}
             <div class="form-group">
                 <label for="rapport.rapportHero">Votre rapport</label>
                 <textarea class="form-control" name="rapport.rapportHero" id="rapport.rapportHero" cols="30" rows="10"></textarea>
             </div>
        #{/form}
        </div>
    </div>
</div>