#{extends 'main.html'/}

<div class="container mt-3">
    <h1>Rédiger un rapport</h1>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong class="text-info">Titre de la mission :</strong> ${mission.titre}
                </li>
                <li class="list-group-item"><strong class="text-info">Date de début de mission
                    :</strong> ${mission.dateDebut.format("dd/MM/YYYY hh:mm")}</li>
                <li class="list-group-item"><strong class="text-info">Date de début de fin de mission
                    :</strong> ${mission.dateFin.format("dd/MM/YYYY hh:mm")}</li>
                <li class="list-group-item"><strong class="text-info">Résultat de mission :</strong>
                #{if mission.reussite == 'r'}
                    <strong class="text-success">Réussite</strong>
                #{/if}
                #{if mission.reussite == 'e'}
                    <strong class="text-danger">Echec</strong>
                #{/if}

                </li>
                <li class="list-group-item"><strong class="text-info">Urgence
                    :</strong>
                #{if mission.urgence}
                    <strong class="text-danger">Urgent</strong>
                #{/if}
                #{if !mission.urgence}
                    <strong class="text-secondary">Pas urgent</strong>
                #{/if}
                <li class="list-group-item"><div id="map" style="height: 300px">
            </div></li>
            </ul>
        </div>
        <div class="col-12 mt-3">
        #{form @controllers.GestionRapport.Save()}
            <input type="hidden" value="${mission.id}" name="rapport.id_mission">
            #{if admin == 2 && rapport == null}
                <input type="hidden" value="${id}" name="rapport.id_super">
                <div class="form-group">
                    <label for="rapport.rapportHero">Votre rapport :</label>
                    <textarea class="form-control" name="rapport.rapportHero" id="rapport.rapportHero" cols="30"
                              rows="5"></textarea>
                </div>
            #{/if}
            #{if admin == 1  &&  rapport == null}
                <input type="hidden" value="${id}" name="rapport.id_civil">
                <div class="form-group">
                    <label for="rapport.rapportAdmin">Votre rapport :</label>
                    <textarea class="form-control" name="rapport.rapportAdmin" id="rapport.rapportAdmin" cols="30"
                              rows="5"></textarea>
                </div>
            #{/if}
            #{if mission != null && rapport != null}
                <input type="hidden" value="${rapport.id}" name="idRapport">
                #{if admin == 1}
                    <input type="hidden" value="${admin}" name="droitRedacteur">
                    <input type="hidden" value="${id}" name="idRedacteur">
                    <div class="form-group">
                        <label for="rapport.rapportHero">Votre rapport :</label>
                        <textarea class="form-control" readonly id="rapport.rapportHero" cols="30"
                                  rows="5">${rapport.rapportHero}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="rapport.rapportAdmin">Votre rapport :</label>
                        <textarea class="form-control" name="rapportText" id="rapport.rapportAdmin" cols="30"
                                  rows="5">${rapport.rapportAdmin != "" ? rapport.rapportAdmin : ""}</textarea>
                    </div>
                #{/if}
                #{else }
                    <input type="hidden" value="${admin}" name="droitRedacteur">
                    <input type="hidden" value="${id}" name="idRedacteur">
                    <div class="form-group">
                        <label for="rapport.rapportHero">Votre rapport :</label>
                        <textarea class="form-control" name="rapportText" id="rapport.rapportHero" cols="30"
                                  rows="5">${rapport.rapportHero != "" ? rapport.rapportHero : ""}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="rapport.rapportAdmin">Votre rapport :</label>
                        <textarea class="form-control" readonly id="rapport.rapportAdmin" cols="30"
                                  rows="5">${rapport.rapportAdmin}</textarea>
                    </div>
                #{/else}
            #{/if}
            <input type="submit" class="btn btn-outline-success float-right mb-5" value="Confirmer">
        #{/form}
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="@{'/public/javascripts/OSM.js'}"></script>
<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var myObj = JSON.parse(this.responseText);
            initMarker([${mission.latitude}, ${mission.longitude}], myObj.display_name != "" ? myObj.display_name : "Aucune info sur le lieu coordonnées : ${mission.latitude}, ${mission.longitude}");
            addRadius([myObj.lat,myObj.lon], ${mission.rayon}*1000);

        }
    };
    xmlhttp.open("GET", 'https://nominatim.openstreetmap.org/reverse?format=json&lat=${mission.latitude}&lon=${mission.longitude}', true);
    xmlhttp.send();
</script>