#{extends 'main.html'/}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Modifier un super [${model.id}]</h3>
        #{form @GestionSuperH.Modify(), method:'POST'}
            <input type="text" name="superH.id" value="${model.id}" hidden>
            <div class="form-group">
                <label for="nom">Pseudo</label>
                <input type="text" id="nom" class="form-control" name="superH.nom" value="${model.nom}">
                <span class="error">#{error 'superH.nom'/}</span>
            </div>
            <div class="form-group">
                <label for="superH.pointFaibles">Point(s) faible(s)</label>
                <input type="text" id="superH.pointFaibles" class="form-control" name="superH.pointFaibles" value="${model.pointFaibles}">
                <span class="error">#{error 'superH.pointFaibles'/}</span>
            </div>
            <div class="form-group">
                <label>Type</label>
                <div class="row">
                    <div class="form-check col-2 ml-3">
                        <input class="form-check-input" type="radio" name="type" id="superHH"
                               value="H" ${model.type == 'H' ? "checked" : ""}>
                        <label class="form-check-label" for="superHH">
                            Super héro
                        </label>
                    </div>
                    <div class="form-check col-2 ml-3">
                        <input class="form-check-input" type="radio" name="type" id="superHV"
                               value="V" ${model.type == 'V' ? "checked" : ""}>
                        <label class="form-check-label" for="superHV">
                            Super vilain
                        </label>
                    </div>
                </div>
            </div>
            <input type="submit" value="Confirmer" class="btn btn-outline-success float-right">

        #{/form}
        #{a @GestionsuperH.List()}Retour à la liste#{/a}
        </div>
    </div>

</div>
