#{extends 'main.html' /}
#{set title:'Profil' /}
#{if admin != 1}
<div class=""></div>
#{/if}
#{else}
<!-- Bouton Modifier -->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <a href="#" class="btn btn-primary btn-lg btn-block">Modifier</a>
    </div>
</main>
<!-- Titre -->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <div class="col">
                <h4 class="border-bottom border-gray pb-2 mb-0">${missionTitre}</h4>
            </div>
            #{if missionUrg}
                <div class="col-1">
                    <i class="fas fa-exclamation-triangle" style="color:darkred;"></i>
                </div>
            #{/if}
        </div>
    </div>
</main>
<!-- SubTitle -->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            #{if missionReuss == 'c'}
                <div class="col-1 text-center">
                    <img class="rotating" src="/public/images/missionIconLoading.png" alt="Mission en cours">
                </div>
            #{/if}
            #{if missionReuss == 'r'}
                <div class="col-1 text-center">
                    <i class="fas fa-thumbs-up" style="color:green;"></i>
                </div>
            #{/if}
            #{if missionReuss == 'e'}
                <div class="col-1 text-center">
                    <i class="fas fa-thumbs-down" style="color:red;"></i>
                </div>
            #{/if}
            <div class="col">
                <h5 class="pb-2 mb-0">${nomNature} ${nomGravite}</h5>
            </div>
        </div>
    </div>
</main>
<!-- Heros & Vilains-->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <div class="col border-success border mr-1">
                <h6 class="text-center mt-1">Heros sur place</h6>
                <ul>
                    #{list items:supersHerosPresents, as:'heros' }
                        <li>${heros.nom}</li>
                    #{/list}
                </ul>
            </div>
            <div class="col border-danger border ml-1">
                <h6 class="text-center mt-1">Vilains sur place</h6>
                <ul>
                    #{list items:supersVilainsPresents, as:'vilains' }
                        <li>${vilains.nom}</li>
                    #{/list}
                </ul>
                <p>Général Zod</p>
            </div>
        </div>
    </div>
</main>
<!-- Durée -->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <div class="col">
                <p>Durée : m</p>
            </div>
        </div>
    </div>
</main>
<!-- Map -->
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <div class="col text-center">
                <p>Rayon : ${missionRayon} Km.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <!-- iFrame -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57916.13892030865!2d2.072318239233786!3d48.80494055840091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67d94d7b14c75%3A0x538fcc15f59ce8f!2sCh%C3%A2teau%20de%20Versailles!5e0!3m2!1sfr!2sfr!4v1586355850456!5m2!1sfr!2sfr" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</main>
#{/else}