#{extends 'main.html' /}
#{set title:'Modifier une mission' /}
<div class="container">

    <div class="row">
    <div id="map"
         class=" col-12 p-0 map_list leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
         tabindex="0" style="position: relative; outline: none; height: 350px; border: 2px solid grey">
    </div>
</div>
    <div>
    <form action="" class="row mt-3 mb-3">
        <input class="form-control col-4" type="text" id="street" placeholder="Rue" value="">
        <input class="form-control col-3" type="text" id="city" placeholder="Ville" value="">
        <input class="form-control col-3" type="text" id="country" placeholder="Pays" value="">
        <input class="form-control col-2" type="text" id="postal" placeholder="Code postal" value="">
    </form>

</div>

    <button id="add_address" class="btn btn-outline-primary mb-3 float-right" onclick="MajPlace()">Modifier l'adresse</button>
    <form action="" method="post">
    <div class="form-row">
        <div class="col">
            <input type="number" name="rayon" placeholder="Rayon(km)" id="rayon" class="form-control" value="${mission.rayon}" onchange="MajRadius()">
        </div>
        <div class="col">
        </div>
    </div>
    <input type="text" name="titre"
           placeholder="Titre de la mission"  class="form-control mb-3" value="${mission.titre}">
    <input type="date" name="date" placeholder="debut" class="form-control mb-3" value="${mission.dateDebut.toString().substring(0,10)}">
    <div class="mb-3">
        <label for="">Sélection SuperHero : </label>
        <select name="hero[]" id="hero"  class="form-control mb-3 js-example-basic-multiple" multiple="multiple" >
        #{list items:superHeros, as: 'superHero'}
            <option value="${superHero.id}">${superHero.nom}</option>
        #{/list}
        </select>
    </div>
    <div class="mb-3">
        <label for="">Sélection SuperVilains : </label>
        <select name="vilain[]" id="vilain"  class="form-control  mb-3 js-example-basic-multiple" multiple="multiple">
        #{list items:superVilains, as: 'superVilain'}
            <option value="${superVilain.id}">${superVilain.nom}</option>
        #{/list}
        </select>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="">Nature : </label>
            <select name="nature" id=""  class="form-control">
            #{list items:natureMissions, as: 'nature'}
                <option value="${nature.id}" #{if nature.id == mission.id_nature}selected#{/if}>${nature.nom}</option>
            #{/list}
            </select>
        </div>
        <div class="col">
            <label for="">Gravite : </label>
            <select name="gravite" id=""  class="form-control">
            #{list items:gravites, as: 'gravite'}
                <option value="${gravite.id}" #{if gravite.id == mission.id_gravite}selected#{/if}>${gravite.nom}</option>
            #{/list}
            </select>
        </div>
    </div>
    <div class="form-check">

        <input class="form-check-input" type="checkbox" name="urgence" #{if mission.urgence}checked#{/if}>
        <label class="form-check-label" for="defaultCheck1">
            Urgent
        </label>
    </div>
    <div id="coords">
        <input name="lon" type="hidden" id="lon" value="${mission.longitude}">
        <input name="lat" type="hidden" id="lat" value="${mission.latitude}">
    </div>
    <input type="submit"  class="btn btn-primary float-right m-3">
</form>
</div>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="@{'/public/javascripts/OSM.js'}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var myObj = JSON.parse(this.responseText);
            initMarker([${mission.latitude}, ${mission.longitude}], myObj.display_name != "" ? myObj.display_name : "Aucune info sur le lieu coordonnées : ${mission.latitude}, ${mission.longitude}");
            addRadius([myObj.lat,myObj.lon], ${mission.rayon}*1000);

        }
    };
    xmlhttp.open("GET", 'https://nominatim.openstreetmap.org/reverse?format=json&lat=${mission.latitude}&lon=${mission.longitude}', true);
    xmlhttp.send();
    $('#hero').val(${listH});
    $('#hero').trigger('change'); // Notify any JS components that the value changed
    $('#vilain').val(${listV});
    $('#vilain').trigger('change'); // Notify any JS components that the value changed
</script>